.elementor-kit-5{--e-global-color-primary:#FFFFFF;--e-global-color-secondary:#D99E53;--e-global-color-text:#FFFFFF;--e-global-color-accent:#FFFFFF;--e-global-color-ec03fbf:#000000;--e-global-typography-primary-font-family:"Cinzel";--e-global-typography-primary-font-weight:700;--e-global-typography-secondary-font-family:"Cinzel";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Cinzel";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Cinzel";--e-global-typography-accent-font-weight:700;background-color:#000000;}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-kit-5 a{color:#CA6507;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1120px;}.e-con{--container-max-width:1120px;--container-default-padding-top:0px;--container-default-padding-right:0px;--container-default-padding-bottom:0px;--container-default-padding-left:0px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */.elementor-widget-text-editor p:last-child{ margin-bottom:0px;}
html, body {
    width: 100%;
    overflow-x: hidden;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Cinzel-Regular.eot');
	src: url('../fonts/Cinzel-Regular.eot#iefix') format('embedded-opentype'),
		url('../fonts/Cinzel-Regular.woff2') format('woff2'),
		url('../fonts/Cinzel-Regular.woff') format('woff'),
		url('../fonts/Cinzel-Regular.ttf') format('truetype'),
		url('../images/Cinzel-Regular.svg#Cinzel') format('svg');
}
@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Cinzel-Bold.eot');
	src: url('../fonts/Cinzel-Bold.eot#iefix') format('embedded-opentype'),
		url('../fonts/Cinzel-Bold.woff2') format('woff2'),
		url('../fonts/Cinzel-Bold.woff') format('woff'),
		url('../fonts/Cinzel-Bold.ttf') format('truetype'),
		url('../images/Cinzel-Bold.svg#Cinzel') format('svg');
}
/* End Custom Fonts CSS */